@import 'imports/mixins.scss';
@import 'imports/variables.scss';

 body {
   font-size: 62.5%;
   background-color : #000;
 }



header{
  background-color: $color1;
  height :250px;
}


section#main-wrapper{
  background-color: $color4;



  .leftbar{
    background-color: $color3 ;

    height :auto;
  }

  .top-content{
    background-color: $color2 ;

    height :250px;
  }
  .main-content{
    background-color: $color1 ;

  }
}




footer{
  background-color: $color2 ;
  height : 200px;
}
